# Map all commits to Aryan Jha
Aryan Jha <aryanjha597@gmail.com> Muhammad Wafa <muhammadwafa105@gmail.com>
Aryan Jha <aryanjha597@gmail.com> Wafa Al Ausath <muhammadwafa105@gmail.com>
Aryan Jha <aryanjha597@gmail.com> Muhammad Wafa <69853015+mikirinkode@users.noreply.github.com>
Aryan Jha <aryanjha597@gmail.com> jhaaryan597 <aryanjha597@gmail.com>
